/* Media Queries */

@media screen and (max-width: 991px) {
    #header .topnav {
        display: none;
    }
    .hero-section-left {
        padding-left: 5vw;
    }
    .ls-stats {
        display: none;
        margin-top: 100px;
    }
    .ls-stats-tablet {
        display: flex;
    }
}

@media screen and (max-width: 1200px) {
    .footer-bg img {
        transform: scale(0.8);
    }
    .footer-elements img {
        width: 100%;
    } 
    .container-fluid {
        padding: 0 20px;
    }
    .qs-container {
        margin: 0!important;
        max-width: 100%!important;
    }
}