/* Global CSS */

.container-fluid {
    padding: 0 100px;
}

main {
    min-height: 50vh;
}

p,
button,
cite {
    font-family: "Roboto Regular";
}

button {
    color: #2D3E52;
}

h6 {
    font-family: "Roboto Regular";
}

.btn:focus {
    box-shadow: none;
}

input[type="checkbox"] {
    transform: scale(1.5);
}

input[type="checkbox"]:checked + label {
    transform: scale(1.5);
    background: yellow;
}

/* Global CSS ENDS */

/* Top Navbar CSS */
/* hidden on max-width: 991px media-query */
#header .topnav {
    height: 30px;
    background: #2D3E52;
    width: 100%;
}

#header .topnav-inner-wrapper {
    display: flex;
    justify-content: space-between;
}

#header ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

#header li {
    margin-left: 40px;
}

#header li:first-child {
    margin-left: 0;
}

.topnav a {
    color: #fff !important;
    text-transform: uppercase;
    font-size: 0.7em;
    text-decoration-line: none;
}

/* Top Navbar CSS ENDS */

/* Main Menu CSS */

.main-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#header nav {
    background: #fff !important;
}

#myNavbar a {
    color: #000;
    font-size: 0.9em;
    text-transform: uppercase;
}

.navbar {
    padding: 0.5rem 0;
}

.menu-item {
    padding: 5px;
}

.partner-with-us.active {
    background: #DEF3F9;
}

/* Main Menu CSS ENDS */

/* Footer CSS */

.footer {}

footer li {
    text-decoration-style: none;
    list-style-type: none;
    margin: 10px 0;
}

footer a {
    color: #000;
}

footer ul {
    padding: 0;
}

.footer-socials {
    display: flex;
    gap: 1rem;
    margin: 10px 0;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-socials img {
    transform: scale(1.2);
}

.footer-socials img:hover {
    transform: scale(1.5);
}

.footer-bg {
    background: url('/assets/Footer-BG-1.svg');
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin: 0;
    padding: 0 20px;
    flex-wrap: nowrap;
}

.footer-socials img {
    width: 20px !important;
}

/* Footer CSS ENDS */

/* Hero Section CSS */

.hero-section .inner {
    background: url('/assets/Hero-BG-Image.svg') no-repeat center bottom #EDF7F9;
    min-height: 300px;
    background-size: 85%;
    margin-right: 0px !important;
}

.hero-section-left,
.hero-section-right {
    margin-top: 10px;
    height: 400px;
}

.hero-section-left {
    display: flex;
    flex-direction: column;
    padding-left: 25vw;
    justify-content: center;
}

.hero-section-right {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.hero-section-left p {
    color: #2D3E52;
    text-align: left;
}

.hero-section-right img {
    object-fit: contain;
    object-position: left;
    max-height: 80%;
    padding-left: 20px;
}

.hero-order {
    color: #002147;
}

.hero-today {
    color: #01B7F2;
}

.hero-btn {
    border-radius: 50px;
    background: #01B7F2;
    height: 40px;
    padding: 0 20px;
    color: #fff;
    margin-right: 10px;
}

.hero-btn:nth-child(2) {
    background: #FDC500;
}

/* Hero Section CSS ENDS */

/* Quick-Search Section CSS */

.quick-search-section {
    margin-top: -33px;
    margin-bottom: 60px;
}

.quick-search-section ul {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    gap: 10px;
}

.quick-search-section button {
    padding: 0;
    font-size: 0.9em;
}

.qs-options {
    display: flex;
    gap: 10px;
    align-items: end;
    padding: 20px 10px;
    background: #2D3E52;
    color: #fff;
}

.qs-single {
    padding: 0;
}

.qs-input {
    height: 40px;
    margin-bottom: 0;
}

.qs-single-btn {
    width: 250%;
    background: #98CE44;
    color: #fff;
}

.dropdown-toggle {
    background: #fff;
    padding: 5px !important;
}

.qs-buttons button {
    background: rgba(112, 112, 112, 0.1);
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-radius: 5px 5px 0 0;
    color: #fff;
}

.qs-buttons-last {
    background: #FDC500 !important;
    color: #fff !important;
}

.qs-buttons button:focus {
    background: #2D3E52;
    border: 1px solid #2D3E52;
    color: #fff;
    box-shadow: none;
}

.qs-buttons-last:focus {
    border: 1px solid #FDC500 !important;
}

.qs-buttons .active {
    background: #2D3E52;
    border-radius: 6px 6px 0 0;
    border-bottom: none;
}

.qs-buttons ul {
    border: none;
}

.tab-content > .active {
    display: flex;
}

.qs-single > div > div > .dropdown-toggle:empty::after {
    color: #2D3E52;
    font-size: 1.5em;
    vertical-align: middle !important;
}

/* Quick-Search Section CSS ENDS */

/* LS-Offers Section CSS */

.offers-section {
    margin-right: 0px !important;
    margin-bottom: 100px;
}

.os-card-header {
    background: none;
}

.os-card-header button {
    color: #000;
}

.os-card-header button:hover {
    color: #000;
}

.os-button-toggle:before {
    font-family: "Font Awesome 5 Free";
    content: "\f055";
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    font-weight: 900;
    color: #01B7F2;
    font-size: 1.5em;
}

.os-button-toggle[aria-expanded="true"]:before {
    content: '\f056';
    color: #CFD1D2;
}

.os-button-toggle:focus,
.os-button-toggle:hover {
    text-decoration: none;
}

.testimonials-bg {
    background: #F5F5F5;
    padding: 60px;
}

.testimonials-text {
    background: #fff;
    padding: 20px;
}

.tt-cite {
    display: flex;
    gap: 20px;
}

.tt-cite > p:nth-child(1) {
    display: flex;
    color: #FDC500;
    font-size: 30px;
}

.tt-cite > p:nth-child(2) {
    color: #01B7F2;
}

.tt-cite > p:nth-child(3) {
    display: flex;
    color: #FDC500;
    align-items: flex-end;
    font-size: 30px;
    margin-bottom: 0;
}

.testimonials-name {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

.testimonials-name div {}

.advt {
    background: #F5F5F5;
}

.ls-stats {
    margin-top: 220px;
    background: #F5F5F5;
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.ls-stats-tablet {
    display: none;
}

.ls-stats-single-outer {
    background: #fff;
    padding: 0;
}

.ls-stats-single-outer > p:last-child {
    font-size: 0.9rem;
}

.ls-stats-single {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    align-items: center;
    gap: 1.5rem;
    height: 7vh;
}

.ls-stats-single p {
    margin-bottom: 0;
    color: #948F8F;
}

.feedback-button {
    position: fixed;
    right: -40px;
    top: 20%;
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
}

.feedback-button:after {
    font-family: "Font Awesome 5 Free";
    content: "\f164";
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    font-weight: 900;
    color: #fff;
    font-size: 1.2em;
}

.settings-button {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0 5px 5px 5px;
}

.settings-button:after {
    font-family: "Font Awesome 5 Free";
    content: "\f013";
    display: inline-block;
    font-weight: 900;
    font-size: 1.2em;
}

/* Quick Search Section CSS */

.adv-search {
    margin-bottom: 100px;
}

.adv-search-sort {
    padding: 5px 15px 5px 0;
    border: 1px solid #000;
    margin-right: 15px !important;
}

.adv-search-sort p {
    margin-bottom: 0;
    height: 40px;
}

.adv-search-outer {
    display: flex;
    align-items: center;
}

.adv-search-outer p {
    margin-bottom: 0;
}

.adv-search div {
    margin-right: 0;
}

.adv-sort-buttons {
    display: flex;
    justify-content: space-between;
}

.adv-search-best {
    width: 50%;
    background: #01B7F2;
    color: #fff;
    border: 1px solid #01B7F2;
    height: 6vh;
}

.adv-search-best:hover {
    color: #000;
}

.adv-search-cheap {
    width: 50%;
    background: #fff;
    color: #000;
    border: 1px solid #01B7F2;
    height: 6vh;
}

.adv-search-table {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #000;
}

.adv-search-table p {
    margin-bottom: 0;
}

.adv-search-provider {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 20px;
    padding: 0;
    border: 1px solid #000;
}

.adv-search-provider p {
    margin-bottom: 0;
}

.adv-search-provider div:nth-child(2) {
    align-self: center;
}

.adv-search-filters h5 {
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 0;
}

.adv-search-single-filter {
    border: 1px solid #000;
    padding: 10px;
    border-top: none;
}

.adv-search-single-filter p {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
}

.adv-search-toggle:after {
    font-family: "Font Awesome 5 Free";
    content: "\f0d7";
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    font-weight: 900;
    color: #676767;
    font-size: 1.5em;
}

.adv-search-toggle[aria-expanded="true"]:after {
    content: "\f077";
    color: #707070;
}

.adv-search-card {
    border: none;
    padding: 0;
}

.adv-search-input {
    border: none;
    background: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.adv-search-filters {
    padding-right: 0;
}

.adv-search-results {
    padding: 0;
    margin: 0;
}

.adv-search-results-inner {
    padding-right: 0;
}

.adv-search-pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    border-left: 1px solid #000;
    padding: 10px;
    height: 100%;
    align-items: center;
}

.adv-search-offer {
    display: flex;
    flex-direction: column;
}

.adv-search-image {
    align-self: center;
    padding-left: 10px;
}

.adv-search-input-group {
    width: 100%;
}

/* Provider Dashboard Section CSS */

.provider-dashboard {
    margin-bottom: 40px;
}

.provider-dashboard-inner {
    width: 100%;
}

.pds-button {
    height: 12vh;
    border: 1px solid #000;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pds-button svg {
    margin: 0 auto;
    fill: #fff;
}

.pds-document {
    border: 1px solid #000;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

.pds-document a {
    color: #000;
}

.pds-document a:focus {
    background: #01B7F2;
    color: #fff;
    text-decoration: none;
}

.pds-document a:hover {
    background: #01B7F2;
    color: #fff;
    text-decoration: none;
}

.pds-account-intro-wrapper {
    display: flex;
    gap: 35px;
    margin: 0 0 20px 0;
}

.pds-account-intro {
    border: 1px solid #000;
}

.pds-account-progress {
    border: 1px solid #000;
}

/* General Information CSS */

#kyc-docs,
#payment-method,
#parcel-type,
#contact-info,
#pricing-model,
#delivery-location {
    display: none;
}

.pds-account-info-wrapper {
    border: 1px solid #000;
    padding: 40px 60px;
    max-width: 95%;
    margin-bottom: 40px;
}

.pds-account-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 30px;
    grid-template-rows: auto;
    margin-bottom: 40px;
}

.pds-single-input {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5px 20px 0 0;
    justify-content: flex-end;
}

.pds-span label {
    margin-bottom: 0;
}

.pds-single-input span {
    font-size: 0.8em;
    margin-bottom: 5px;
}

.pds-account-type {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.pds-account-type label {
    margin: 0 10px 0 0;
}

.pds-account-type div {
    display: flex;
    align-items: center;
}

.pds-account-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.pds-account-buttons div {
    width: 150px;
}

.pds-account-edit {
    margin-bottom: 20px;
    display: flex;
}

.pds-single-input input {
    border: 1px solid #000;
}

/* General Information CSS Ends */

/* KYC Documents CSS */

.pds-company {
    display: flex;
    align-items: flex-end;
}

.pds-company img {
    margin-bottom: 30px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.pds-company-type,
.pds-company-info {
    padding: 0;
}

.pds-company-info p {
    margin-bottom: 0;
}

.pds-company-text {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.pds-company-note {
    border: 1px solid #000;
    background: #F4F8FB;
    padding: 10px 20px;
    margin: 30px 0;
    width: 100%;
}

.pds-company-note p {
    margin-bottom: 0;
}

.pds-kyc-outer {
    display: flex;
    flex-direction: column;
}

.pds-kyc {
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 20px;
    margin-bottom: 40px;
}

.pds-kyc-upload-single {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.pds-label:after {
    display: none;
}

.pds-kyc-add {
    border: 1px solid #000;
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.payment-available {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    max-width: 80%;
    margin: 40px auto;
}

.payment-type {
    display: grid;
    grid-template-rows: 50px;
    gap: 20px;
}

.payment-type p {
    margin-bottom: 2px;
}

.payment-name {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px;
    gap: 20px;
}

.parcel-type-wrapper {
    padding: 10px 20px;
    border: 1px solid #000;
    margin-bottom: 20px;
}

.parcel-type-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parcel-type-wrapper h5 {
    margin-bottom: 0;
}

.cat-single {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
}

.cat-name {
    width: 20%;
}

.cat-selection {
    width: 70%;
}

.cat-select {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.cat-details input {
    width: 100%;
}

/* Contact Details Section */

.contact-table {
    border: 1px solid #000;
    margin: 40px 0;
}

.contact-header {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    padding: 10px 20px;
    border-bottom: 1px solid #000;
}

/*.contact-details-wrapper {
    display: grid;
    grid-template-columns: 10% 1fr;
}*/

.contact-details-wrapper {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    padding: 10px 20px;
}

.contact-details-button img {
    width: 40px;
}

.cd-input {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.cd-input label {
    width: 25%;
}

.pricing-model-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.pricing-model {
    border: 1px solid #000;
}

.pm-info,
.pm-details,
.pm-header {
    padding: 0px 10px;
}

.pricing-model h6 {
    border: 1px solid #000;
    padding: 10px;
    background: #01B7F2;
    color: #fff;
}

.pm-info {
    display: flex;
    width: 100%;
}

.pm-info p {
    width: 50%;
    margin-bottom: 0;
    text-align: center;
    border: 1px solid #000;
}

.pm-details {
    display: flex;
    justify-content: space-between;
}

.pm-details p {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.pm-header {
    text-decoration: underline;
    margin-bottom: 10px;
}

.pm-value {
    width: 30%;
    text-align: center;
}

.pm-save {
    margin: 0 auto;
    width: 50%;
}

.pm-save button {
    width: 100%;
}

/* Delivery Location Section CSS */

.dl-time-wrapper {
    border: 1px solid #000;
    padding: 10px;
}

.dl-time-single {
    display: grid;
    grid-template-columns: 2fr 1fr 0.5fr 1fr;
}

.dl-pincode {
    display: flex;
    border: 1px solid #000;
}

.dl-pincode-btn {
    margin-top: 60px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    padding: 2px 10px;
}

.dl-pincode-table,
table {
    width: 100%;
}

table,
td,
th {
    border: 1px solid #000;
    border-top: none;
    border-right: none;
}

.dl-pincode tr,
th {
    text-align: center;
}

.dl-pincode th {
    font-size: 0.9em;
}

.dl-pt-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
